@tailwind base;
@tailwind components;
@tailwind utilities;

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.product-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.product-item a:hover {
    background-color: #0056b3;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.product-details img {
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

.product-details p strong {
    color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Приховує спінери у Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


